:root{
    --bg-color: rgb(239,239,239);
    --card-margin-top: 15px;
    --card-bg-color: rgb(249,249,249);
    --card-bg-hover-color:rgb(255,255,255);
    --card-font-hover-color: rgb(50,62,196);
    --card-button-bg-hover-color: rgb(50,92,190);
    --card-button-bg-hover-gray: rgb(189,189,189);
    --card-button-bg-gray: rgb(214,214,215);
    --card-button-bg-color: rgb(59,73,223);

}
* {
    text-decoration: none;
}
.side-bar-right-card{
    margin-top: var(--card-margin-top);
    background-color: var(--card-bg-color);

}
.side-bar-right-card .hyperlynk-purple-header{
    text-decoration: none;
    color:var(--card-font-hover-color)
}
